# Import Yellow Taxi Data - Part 2

Create a Hive external table using the S3 Parquet files.

## Create Hive Table

In [3]:
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [5]:
%load_ext sql

In [51]:
%config SqlMagic.named_parameters = "enabled"

In [52]:
%sql trino://admin@${DOCKER_HOST_OR_IP}:8443/hive --connection_arguments '{"http_scheme":"https", "verify": false}'

In [53]:
%%sql 

show catalogs

Running query in 'trino://admin@10.143.11.241:8443/hive'

+---------+
| Catalog |
+---------+
|   hive  |
| iceberg |
|  system |
|  tpcds  |
|   vast  |
+---------+

In [54]:
import os
S3A_BUCKET = os.getenv('S3A_BUCKET')

In [55]:
! echo {S3A_BUCKET}

csnow-bucket

In [56]:
%%sql

CREATE SCHEMA IF NOT EXISTS hive.nyt

Running query in 'trino://admin@10.143.11.241:8443/hive'

++
||
++
++

In [57]:
%%sql

SHOW SCHEMAS

Running query in 'trino://admin@10.143.11.241:8443/hive'

+--------------------+
|       Schema       |
+--------------------+
|      default       |
| information_schema |
|        nyt         |
|    social_media    |
+--------------------+

In [62]:
%%sql

DROP TABLE IF EXISTS nyt.yellow_trip_data

Running query in 'trino://admin@10.143.11.241:8443/hive'

++
||
++
++

In [63]:
%%sql

CREATE TABLE nyt.yellow_trip_data (
  VendorID INT,
  tpep_pickup_datetime TIMESTAMP,
  tpep_dropoff_datetime TIMESTAMP,
  passenger_count DOUBLE,
  trip_distance DOUBLE,
  RatecodeID DOUBLE,
  store_and_fwd_flag VARCHAR,
  PULocationID INT,
  DOLocationID INT,
  payment_type INT,
  fare_amount DOUBLE,
  extra DOUBLE,
  mta_tax DOUBLE,
  tip_amount DOUBLE,
  tolls_amount DOUBLE,
  improvement_surcharge DOUBLE,
  total_amount DOUBLE,
  congestion_surcharge DOUBLE,  
  airport_fee DOUBLE
)
WITH (
  format = 'PARQUET',
  external_location = 's3a://{{S3A_BUCKET}}/yellow_tripdata/'
)

Running query in 'trino://admin@10.143.11.241:8443/hive'

++
||
++
++

In [65]:
%%sql
    
SELECT COUNT(*) as row_count FROM nyt.yellow_trip_data

Running query in 'trino://admin@10.143.11.241:8443/hive'

+-----------+
| row_count |
+-----------+
| 252202964 |
+-----------+