In [1]:
%%capture --no-stderr
%pip install --quiet -U vastdb

In [11]:
import pyarrow as pa
import vastdb

ENDPOINT='http://172.200.204.1'
ACCESS_KEY='BR77TV2BSB1LQG4CH9QO'
SECRET_KEY='37tFv8Nd3tUFsQW7nyhFXLED0KUq7PW0Bj/cpjYg'

session = vastdb.connect(
    endpoint=ENDPOINT,
    access=ACCESS_KEY,
    secret=SECRET_KEY)

with session.transaction() as tx:
    bucket = tx.bucket('my-kafka')
    schema = bucket.schema('kafka_topics')
    table = schema.table('streaming-demo')

    # run `SELECT * FROM t`
    result = table.select().read_all()
    print(result.num_rows)

2

In [12]:
result.to_pandas()

,key,value,timestamp_broker,timestamp_producer,headers
0,None,"b'{""key"": ""value"", ""number"": 123}'",2025-03-31 09:36:51.279,2025-03-31 09:37:20.535,[]
1,None,"b'{""key"": ""value"", ""number"": 123}'",2025-03-31 09:40:46.406,2025-03-31 09:41:15.688,[]