# Trino Connection

In [1]:
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [2]:
%load_ext sql

In [3]:
%sql trino://admin@${DOCKER_HOST_OR_IP}:8443/iceberg  --connection_arguments '{"http_scheme":"https", "verify": false}'

Connecting to 'trino://admin@10.143.11.241:8443/iceberg'

In [4]:
%%sql 

show catalogs

Running query in 'trino://admin@10.143.11.241:8443/iceberg'

+---------+
| Catalog |
+---------+
|   hive  |
| iceberg |
|  system |
|  tpcds  |
|   vast  |
+---------+

In [5]:
%%sql

SELECT *
FROM social_media.twitter_data
LIMIT 10

Running query in 'trino://admin@10.143.11.241:8443/iceberg'

+------------+----+--------+------+
| created_at | id | id_str | text |
+------------+----+--------+------+
+------------+----+--------+------+