# Trino Connection

In [2]:
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [3]:
%load_ext sql

In [4]:
%sql trino://admin@${DOCKER_HOST_OR_IP}:8443/vast  --connection_arguments '{"http_scheme":"https", "verify": false}'

Connecting to 'trino://admin@10.143.11.241:8443/vast'

In [5]:
%%sql 

show catalogs

Running query in 'trino://admin@10.143.11.241:8443/vast'

+---------+
| Catalog |
+---------+
|   hive  |
| iceberg |
|  system |
|  tpcds  |
|   vast  |
+---------+

In [7]:
%%sql

SELECT
    *
FROM
    vast."csnow-db|social_media".tweets
LIMIT 10

Running query in 'trino://admin@10.143.11.241:8443/vast'

+---------------+----------------------+----------------------+-------------------------------------------------------------+
|   created_at  |          id          |        id_str        |                             text                            |
+---------------+----------------------+----------------------+-------------------------------------------------------------+
| 1732208879393 | 6892621638694823382  | 6892621638694823382  |     can't believe how beautiful SoftwareDevelopment is!     |
| 1732208879393 | -7051421529026564987 | -7051421529026564987 | just discovered how powerful MachineLearningEngineering is! |
| 1732208879393 | 7634460149232011841  | 7634460149232011841  |      so excited about how perfect MobileDevelopment is!     |
| 1732208879393 | 6633849406573230697  | 6633849406573230697  |      totally in love with how perfect CloudEngineer is!     |
| 1732208879393 | 3223210304739537800  | 3223210304739537800  |     just discovered how incredible DevOpsEngineering is!    |
| 1732208879494 | -1536457519910078106 | -1536457519910078106 |    can't wait to see how fantastic DevOpsEngineering is!    |
| 1732208879494 | -9006023626729573396 | -9006023626729573396 |        looking forward to see how fantastic Agile is!       |
| 1732208879494 | 3805983493668221234  | 3805983493668221234  |       can't wait to see how clever MachineLearning is!      |
| 1732208879494 | -4207727324162838529 | -4207727324162838529 |       finally got how awesome SecurityEngineering is!       |
| 1732208879494 |  62170027578242396   |  62170027578242396   |               can't believe how lovely IoT is!              |
+---------------+----------------------+----------------------+-------------------------------------------------------------+
Truncated to displaylimit of 10.